

main{
    width: 100%;
    height: 100%;
    padding: 50px;
    background-color: #606c38;
}

.box-card{
    border: solid 3px black;
    margin: 5px;
    background-color: #a3b18a;
    color: #dad7cd;
    border-radius: 5px;

}

img{
    width: 100%;
    object-fit: cover;
}
.text-color{
    color: #dad7cd;
}
#text-card{
    border-top: solid 2px black;
}